@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Saira:100,200,300,400,500,600,700,800&display=swap");
@import url("./animations.scss");

body {
  background-color: #eaf1f3;
  color: #1e1e23;
  margin: 0;
  font-family: "Saira", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .dark & {
    background-color: #1e1e23;
    color: #eaf1f3;
  }
}

a {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 100%;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
}

h4 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 100%;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 100%;
}

h6 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 100%;
}

i {
  aspect-ratio: 1 / 1;
  display: inline-flex !important;
  width: min-content;
  height: min-content;
  line-height: 1 !important;
  vertical-align: middle;
}

label:has(~ div > input:invalid) {
  color: #f45b69;
}
label:has(~ div > input:disabled) {
  color: #6b7280;
}

label:has(~ div > select:invalid) {
  color: #f45b69;
}
label:has(~ div > select:disabled) {
  color: #6b7280;
}

label:has(~ textarea:invalid) {
  color: #f45b69;
}
label:has(~ textarea:disabled) {
  color: #6b7280;
}

.search-bar:has(> input:focus) {
  border-color: #b979a9;
  color: #6b385f;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.05);
}

@layer components {
  /* Required by Prefabs folder ---- */
  .btn {
    @apply font-semibold transition-all duration-75 ease-in-out whitespace-nowrap flex w-fit items-center space-x-2 cursor-pointer focus:ring-0 px-6 py-2 disabled:pointer-events-none disabled:opacity-70;
  }
  .icon-btn {
    @apply transition-all rounded-lg w-8 h-8 duration-75 ease-in-out cursor-pointer focus:ring-0 flex justify-center items-center disabled:pointer-events-none disabled:opacity-70;
  }
  .card {
    @apply relative p-4;
  }
  .input {
    @apply bg-background-dark border-text-color focus:border-secondary-color disabled:opacity-50 invalid:border-error-color placeholder:text-text-light placeholder:text-opacity-50 placeholder:italic border-b transition-all duration-75  w-full focus:border pl-4 pr-6 py-2 focus:outline-0 focus:ring-1;
  }
  .file-input {
    @apply relative file:bg-primary-color file:text-primary-on file:text-sm file:font-semibold file:m-0 file:border-0 file:absolute file:cursor-pointer file:right-10 file:top-0.5 file:px-4 file:py-2.5;
  }

  /* Personalized */
  .menu-item {
    @apply flex space-x-2 items-center px-5 py-2.5 cursor-pointer hover:bg-primary-color hover:bg-opacity-5;
  }
}
